In [2]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/src/data/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,63.2785,0.0090,0.0100,63.3390,63.4545,0.0095,0.0095,0.0090,0.0095,0.0095,0.0095,64.1750,0.0105,64.1760,64.5650,64.3330,0.0095,0.0105,63.4230
00002,55.4875,NaN,55.4915,55.8920,0.0115,0.0110,55.7530,55.6830,56.4415,56.5050,56.4820,56.4405,0.0125,56.5890,0.0110,0.0100,0.0110,56.4125,56.5905,0.0110
00003,0.0100,62.3780,NaN,0.0095,62.4310,62.5815,0.0100,0.0100,0.0095,0.0095,0.0095,0.0095,63.4775,0.0105,63.4190,63.4700,63.5685,0.0110,0.0110,62.5255
00004,0.0090,63.3690,0.0100,NaN,63.6765,63.7160,0.0090,0.0090,0.0090,0.0100,0.0095,0.0095,64.4160,0.0100,64.4000,64.5060,64.5285,0.0100,0.0090,64.7745
00005,47.0405,0.0105,47.0760,47.3520,NaN,0.0110,47.2895,47.4050,48.3605,48.0505,47.8280,48.0855,0.0110,47.9260,0.0100,0.0100,0.0110,47.8750,47.8690,0.0110
00006,56.5520,0.0105,56.2800,94.2935,38.7750,NaN,94.4995,94.5710,56.8265,96.0475,57.3850,96.2060,0.0110,57.4260,0.0110,0.0105,0.0110,95.8355,95.8155,0.0100
00007,0.0095,51.8745,0.0100,0.0095,52.0505,52.0980,NaN,0.0090,0.0105,0.0100,0.0100,0.0100,52.6950,0.0100,52.8255,52.7510,52.9685,0.0100,0.0095,52.2250
00008,0.0100,62.2755,0.0090,0.0095,62.4310,62.5725,0.0090,NaN,0.0095,0.0095,0.0090,0.0115,63.6525,0.0105,63.5175,63.3245,63.5520,0.0090,0.0090,62.4840
00009,0.0105,48.7050,0.0090,0.0095,48.8440,48.6490,0.0095,0.0090,NaN,0.0090,0.0090,0.0090,49.3935,0.0105,49.5000,49.4055,49.3325,0.0090,0.0100,48.7350
00010,0.0095,55.6515,0.0100,0.0095,55.8485,55.8140,0.0100,0.0095,0.0090,NaN,0.0090,0.0100,56.7925,0.0100,56.6315,56.5475,56.4630,0.0100,0.0105,56.5630
00011,0.0100,47.6680,0.0100,0.0090,47.8940,47.9765,0.0095,0.0100,0.0100,0.0095,NaN,0.0095,48.4460,0.0090,48.5215,48.5590,48.4670,0.0095,0.0100,47.8680
00012,0.0100,50.7225,0.0095,50.8740,50.8560,50.8550,50.9525,50.9855,0.0100,51.4515,0.0110,NaN,51.6065,0.0095,51.5975,51.4985,51.7860,51.5520,51.5110,51.5135
00013,50.0730,0.0105,49.9665,50.3570,0.0100,0.0105,50.3450,50.1880,51.0505,51.0045,50.8455,50.8525,NaN,50.9990,0.0105,0.0100,0.0100,50.8300,51.1630,0.0105
00014,0.0095,63.4735,0.0095,0.0090,63.5140,63.5835,0.0090,0.0105,0.0100,0.0095,0.0090,64.8610,64.8080,NaN,64.5725,64.5270,64.4830,0.0090,0.0095,64.6625
00015,49.5475,0.0115,49.5020,50.2690,0.0105,82.4585,49.8740,49.8575,49.8240,50.6520,50.5515,50.7485,0.0140,50.4825,NaN,0.0110,0.0105,50.2950,50.5350,0.0110
00016,56.5175,0.0100,56.4560,56.9650,0.0100,0.0100,56.7550,56.6420,57.5290,57.4955,57.4720,57.4935,0.0100,57.4480,0.0100,NaN,0.0100,57.3630,58.6485,0.0100
00017,48.6435,0.0105,48.6435,49.0155,0.0110,0.0100,48.8395,48.9270,49.5370,49.6445,49.4850,49.8985,0.0100,49.5495,0.0115,0.0100,NaN,49.4585,49.5225,0.0100
00018,0.0100,63.2945,0.0100,0.0100,63.4885,63.3865,0.0100,0.0100,0.0100,0.0100,0.0105,0.0090,64.3125,0.0105,64.3580,64.4515,64.1010,NaN,0.0090,63.4310
00019,0.0100,63.3845,0.0090,0.0100,63.9945,63.6625,0.0100,0.0100,0.0100,0.0105,0.0105,0.0100,64.4175,0.0090,64.4665,64.5755,64.4840,0.0090,NaN,63.5670
00020,56.3170,0.0110,56.2740,56.8980,0.0110,0.0110,56.6365,56.6555,58.3940,57.3550,57.3680,57.4375,0.0110,57.3845,0.0115,0.0105,0.0110,57.2555,57.3795,NaN

In [3]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001     0.0090       00003
00002     0.0100       00016
00003     0.0095       00004
00004     0.0090       00001
00005     0.0100       00015
00006     0.0100       00020
00007     0.0090       00008
00008     0.0090       00003
00009     0.0090       00003
00010     0.0090       00009
00011     0.0090       00004
00012     0.0095       00003
00013     0.0100       00005
00014     0.0090       00004
00015     0.0105       00005
00016     0.0100       00002
00017     0.0100       00006
00018     0.0090       00012
00019     0.0090       00003
00020     0.0105       00016

In [4]:
tbl3 = tbl1
cols = ['00001', '00002', '00003', '00004', '00005', '00006', '00007', 
        '00008', '00009', '00010', '00011', '00012', '00013', '00014', 
        '00015', '00016', '00017', '00018', '00019', '00020']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001               8
00002              12
00003               8
00004               8
00005              12
00006              13
00007               8
00008               8
00009               8
00010               8
00011               8
00012              14
00013              12
00014               9
00015              13
00016              12
00017              12
00018               8
00019               8
00020              12