In [1]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/src/data/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,37.9685,37.4195,37.5280,37.4935,37.4675,37.7220,37.5835,37.4960,37.5745,37.4955,37.4525,37.5615,37.6015,37.5095,37.5140,37.5320,37.4845,37.5645,37.4855
00002,38.6940,NaN,37.9440,37.8490,37.9590,37.9015,37.9925,37.8490,38.0170,37.9365,37.9175,37.8880,39.1445,37.9900,37.9565,37.8600,37.8655,37.8610,37.9415,37.9025
00003,34.4570,34.4690,NaN,33.9600,33.9265,33.9910,34.0990,34.0820,34.0190,34.1010,33.9260,34.0290,35.1105,34.1915,34.0630,33.9780,34.0330,34.0260,34.0515,34.0030
00004,70.3545,70.3660,70.3450,NaN,69.2780,69.3335,69.2925,69.2560,69.2405,69.3490,69.2480,69.2470,69.3990,69.4800,69.3305,69.3370,69.2355,69.3070,69.4195,69.3905
00005,38.1065,37.9545,37.9590,37.4090,NaN,37.4105,37.5475,37.4565,37.4365,37.5495,37.4405,37.4870,37.5365,38.4150,37.5585,37.5130,37.5770,37.4490,37.4520,37.4910
00006,66.4115,66.1530,66.1105,65.1955,65.4110,NaN,65.2080,65.3075,65.2330,65.3385,65.1845,65.2145,65.2830,66.2645,65.2895,65.2385,65.2575,65.2810,65.2105,65.2565
00007,21.2960,21.2575,21.0780,20.9565,21.0445,21.0340,NaN,21.0165,21.0325,21.0405,21.0075,21.0170,21.0340,21.0545,21.0460,21.0465,21.0280,21.0155,21.0635,21.0615
00008,20.7395,20.6995,20.3865,20.3360,20.3665,20.3645,20.4675,NaN,20.3400,20.4570,20.3750,20.4295,20.4275,20.5060,20.4460,20.4065,20.3865,20.4120,20.4410,20.3310
00009,66.4735,66.3465,65.3510,65.5075,65.4085,65.4985,65.4670,65.4210,NaN,65.5370,65.3980,65.4690,65.3625,65.6605,65.5650,65.3870,65.4365,65.5460,65.4305,65.4420
00010,32.2150,32.2005,32.2455,31.9050,31.7950,31.7895,31.7830,31.8775,31.8460,NaN,31.8800,31.8880,31.8650,32.6570,31.8770,31.8220,31.7985,31.8475,31.8690,31.8670
00011,65.7790,65.6370,64.5770,64.8490,64.5855,64.7830,64.8970,64.6250,64.6695,64.7085,NaN,64.6470,64.7750,64.7595,64.9100,64.7515,64.8620,64.7025,64.6750,64.7415
00012,37.8595,37.8260,37.7925,37.3145,37.3315,37.2920,37.4475,37.2470,37.2845,37.3840,37.2930,NaN,37.3025,37.9240,37.2895,37.3370,37.4040,37.2835,37.3435,37.3300
00013,20.5855,20.6140,20.2750,20.3155,20.2535,20.3275,20.2805,20.2895,20.3265,20.3215,20.2965,20.2705,NaN,20.3505,20.4125,20.3555,20.3125,20.2680,20.3585,20.3070
00014,17.9465,17.9300,17.9485,17.7110,17.7045,17.6675,17.6650,17.7385,17.6795,17.7190,17.6740,17.6465,17.6725,NaN,17.7405,17.6935,17.6585,17.6705,17.6880,17.7210
00015,33.9320,33.8630,33.9200,33.4255,33.4275,33.4315,33.4785,33.4510,33.4125,33.4860,33.3765,33.4355,33.5050,34.1745,NaN,33.5030,33.4605,33.4560,33.4160,33.4645
00016,18.4610,18.4260,18.2070,18.1745,18.1775,18.1965,18.2880,18.1815,18.2225,18.2970,18.2125,18.2055,18.2515,18.3265,18.2400,NaN,18.2350,18.2375,18.2050,18.2225
00017,40.6165,40.6155,40.1085,40.0455,40.0070,40.0525,40.2515,39.9925,40.1480,40.0440,40.3515,40.0105,40.0445,40.2555,40.1280,40.0310,NaN,40.1410,40.0665,40.0620
00018,19.0895,19.0230,18.7715,18.7550,18.8080,18.7625,18.8510,18.7985,18.7655,18.8490,18.8090,18.7885,19.5650,18.9355,18.8140,18.7985,18.8325,NaN,18.8220,18.8360
00019,35.1345,34.9555,34.5020,34.5420,34.4990,34.4560,34.5970,34.5570,34.5380,34.5740,34.4925,34.5115,34.5885,34.7260,34.5960,34.5575,34.6270,34.5315,NaN,34.5800
00020,38.0280,37.8075,37.7965,37.2910,37.3120,37.3120,37.3425,37.2320,37.3080,37.4095,37.2270,37.2710,37.3680,38.3140,37.2630,37.2405,37.2245,37.2230,37.2450,NaN

In [2]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001    37.4195       00003
00002    37.8490       00004
00003    33.9260       00011
00004    69.2355       00017
00005    37.4090       00004
00006    65.1845       00011
00007    20.9565       00004
00008    20.3310       00020
00009    65.3510       00003
00010    31.7830       00007
00011    64.5770       00003
00012    37.2470       00008
00013    20.2535       00005
00014    17.6465       00012
00015    33.3765       00011
00016    18.1745       00004
00017    39.9925       00008
00018    18.7550       00004
00019    34.4560       00006
00020    37.2230       00018

In [3]:
tbl3 = tbl1
cols = ['00001', '00002', '00003']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001              16
00002              19
00003               0
00004              19
00005              12
00006              19
00007               0
00008               0
00009              19
00010               0
00011              19
00012               4
00013               0
00014               0
00015               0
00016               0
00017              19
00018               0
00019               0
00020               4