# Make clean build time

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Will show the clean build time and the executable's binary size for all system's configurations
path = '/home/xternava/Documents/GitHub/Incremental-build/data/'
#path = '/src/data/'
df = pd.read_csv(path + 'buildtime_dc2.csv')
df.columns
df = df.rename(columns = {"bt_real": "Build Time", "BinarySize": "Binary Size"})
df

,Branch,Option,Build Time,bt_user,bt_sys,Binary Size
0,sqlite-00006,"['--disable-shared', '--disable-largefile', '-...",73.2988,0.0009,0.0000,10201208
1,sqlite-00015,"['--disable-shared', '--disable-largefile', '-...",63.0158,0.0007,0.0002,8960648
2,sqlite-00012,"['--disable-shared', '--disable-libtool-lock',...",69.4169,0.0009,0.0000,10147616
3,sqlite-00014,"['--disable-shared', '--disable-option-checkin...",71.4612,0.0000,0.0009,10075160
4,sqlite-00005,"['--disable-shared', '--disable-amalgamation',...",69.4466,0.0009,0.0000,10147616
5,sqlite-00020,"['--disable-shared', '--disable-threadsafe', '...",71.8805,0.0000,0.0009,10084648
6,sqlite-00010,"['--disable-shared', '--disable-largefile', '-...",71.8926,0.0000,0.0009,10106296
7,sqlite-00004,"['--disable-shared', '--disable-option-checkin...",69.6556,0.0007,0.0002,10199640
8,sqlite-00007,"['--disable-shared', '--disable-libtool-lock',...",58.0096,0.0007,0.0002,8464736
9,sqlite-00017,"['--disable-shared', '--disable-threadsafe', '...",68.7076,0.0000,0.0009,10123416
10,sqlite-00008,"['--disable-shared', '--disable-option-checkin...",59.8620,0.0000,0.0009,8528944
11,sqlite-00009,"['--disable-shared', '--disable-option-checkin...",72.9442,0.0007,0.0002,10190120
12,sqlite-00019,"['--disable-shared', '--disable-option-checkin...",73.0493,0.0009,0.0000,10203840
13,sqlite-00001,"['--disable-shared', '--disable-tcl', '--disab...",62.0383,0.0007,0.0002,9648880
14,sqlite-00011,"['--disable-shared', '--disable-readline', '--...",68.5658,0.0000,0.0010,10215824
15,sqlite-00016,"['--disable-shared', '--disable-libtool-lock',...",66.8583,0.0010,0.0000,9986640
16,sqlite-00013,"['--disable-shared', '--disable-largefile', '-...",55.1211,0.0000,0.0009,8566104
17,sqlite-00018,"['--disable-shared', '--disable-libtool-lock',...",59.6680,0.0000,0.0009,8656016
18,sqlite-00003,"['--disable-shared', '--disable-largefile', '-...",69.2398,0.0006,0.0003,9699272
19,sqlite-00002,"['--disable-shared', '--disable-option-checkin...",66.1220,0.0000,0.0010,10173424

In [3]:
df[['Br0', 'BranchC']] = df.Branch.str.split("-",expand=True)

df_setindex = df.set_index("BranchC")
df = df_setindex[['Build Time', 'Binary Size']]

# The index is reset to the clean build configuration
dx = df.sort_index()
dx.to_csv(path + 'clean-bt.csv')
dx

         Build Time  Binary Size
BranchC
00001       62.0383      9648880
00002       66.1220     10173424
00003       69.2398      9699272
00004       69.6556     10199640
00005       69.4466     10147616
00006       73.2988     10201208
00007       58.0096      8464736
00008       59.8620      8528944
00009       72.9442     10190120
00010       71.8926     10106296
00011       68.5658     10215824
00012       69.4169     10147616
00013       55.1211      8566104
00014       71.4612     10075160
00015       63.0158      8960648
00016       66.8583      9986640
00017       68.7076     10123416
00018       59.6680      8656016
00019       73.0493     10203840
00020       71.8805     10084648