In [1]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/src/data/rez_sample_03ALL/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,0.0105,23.1470,0.0105,0.0105,24.1540,0.0100,23.1385,23.1295,23.0970,23.1010,0.0110,0.0100,23.1805,23.1495,0.0100,0.0115,0.0105,24.3725,23.4815
00002,0.0110,NaN,25.6090,0.0095,0.0105,25.7535,0.0105,25.5770,25.5990,25.6990,25.6395,0.0100,0.0100,25.7065,25.6705,0.0100,0.0100,0.0110,27.2915,26.0445
00003,30.2950,30.3415,NaN,30.2335,31.2805,0.0100,30.3130,0.0095,0.0100,0.0095,0.0095,30.1820,30.2065,0.0105,0.0090,30.3275,31.2670,31.5400,0.0100,0.0095
00004,0.0110,0.0115,28.8435,NaN,0.0105,30.0875,0.0100,28.8075,28.6945,28.8205,28.7930,0.0110,0.0100,28.7630,28.8250,0.0100,0.0105,0.0110,30.3550,29.3975
00005,0.0115,0.0115,28.7575,0.0110,NaN,29.9565,0.0100,28.7050,28.6190,28.6995,28.7075,0.5015,0.0105,28.7440,28.7080,0.0110,0.0105,0.0105,30.6765,29.2085
00006,70.2090,70.0185,0.0095,32.6560,70.6045,NaN,70.3785,0.1450,0.0100,70.1370,0.0095,70.0510,32.5510,70.0925,0.0100,32.7130,70.1070,72.2825,73.2715,72.9330
00007,0.0105,0.0120,23.3440,0.0100,0.0100,24.5230,NaN,23.2590,23.2775,23.3590,23.3660,0.0100,0.0105,23.2960,23.3520,0.0100,0.0110,0.0110,24.3845,23.7610
00008,25.7000,26.9125,0.0095,25.8575,25.7625,0.0095,25.8170,NaN,0.0095,0.0100,0.0100,25.8110,25.7400,0.0090,0.0100,25.8215,25.8185,26.8035,0.0100,0.0090
00009,32.7010,33.5065,0.0090,32.6190,32.5960,0.0100,32.6415,0.0100,NaN,0.0090,0.0095,32.4850,32.5735,0.0090,0.0095,32.6635,32.5770,33.8145,0.0100,0.0090
00010,31.9475,32.6530,0.0090,32.0420,31.9535,0.0095,31.9555,0.0105,0.0095,NaN,0.0095,31.9885,31.9040,0.0095,0.0090,32.0695,32.0075,33.1910,0.0100,0.0095
00011,28.1260,28.1915,0.0100,28.1935,29.0550,0.0100,28.1950,0.0100,0.0105,0.0100,NaN,28.1905,28.2220,0.0100,0.0095,28.1845,28.6605,29.3295,0.0105,0.0105
00012,0.4925,0.4995,28.6790,0.0100,0.4990,30.1150,28.2210,28.6735,28.7010,28.7540,28.6775,NaN,0.0100,28.6550,28.7295,0.0100,0.5215,0.5465,29.8860,29.3450
00013,0.0105,0.0110,20.5455,0.0100,0.0105,21.6680,0.0100,20.5150,20.5190,20.5595,20.6030,0.0110,NaN,20.5795,20.6060,0.0105,0.0100,0.0105,21.8075,20.9160
00014,31.4655,31.3870,0.0100,31.5450,31.5575,0.0100,31.3800,0.0090,0.0100,0.0105,0.0100,31.4495,31.4725,NaN,0.0095,31.5555,31.5410,32.8100,0.0095,0.0090
00015,27.1945,27.2740,0.0095,27.2030,27.2260,62.4380,27.2430,0.0090,0.0100,0.0095,0.0105,27.2290,27.1605,0.0095,NaN,27.2790,27.2090,28.2585,0.0105,0.0100
00016,0.0110,0.0120,27.1250,0.0105,0.0110,28.4760,0.0100,27.1500,27.0800,27.1495,27.0830,0.0105,0.0105,27.1990,27.1450,NaN,0.0100,0.0105,28.7910,27.6225
00017,0.0105,0.0110,28.6535,0.0115,0.0100,29.8985,0.0100,28.6090,28.6025,28.5645,28.5870,0.0100,0.0105,28.5960,28.6870,0.0100,NaN,0.0110,29.8360,29.1355
00018,0.0110,0.0100,24.4685,0.0105,0.0110,25.7220,0.0115,24.4140,24.4160,24.3805,24.4415,0.0110,0.0105,24.5165,24.4625,0.0105,0.0120,NaN,25.9245,24.9405
00019,32.5725,32.6205,0.0100,32.6275,33.4740,0.0100,32.6335,0.0090,0.0090,0.0090,0.0090,32.6480,32.5765,0.0095,0.0095,32.5255,32.5805,33.8475,NaN,0.0090
00020,31.8550,31.8600,0.0090,31.9800,31.8910,0.0105,31.8810,0.0095,0.0095,0.0095,0.0090,31.8715,31.8430,0.0095,0.0100,31.9360,31.9105,33.1495,0.0110,NaN

In [2]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001     0.0100       00007
00002     0.0095       00004
00003     0.0090       00015
00004     0.0100       00007
00005     0.0100       00007
00006     0.0095       00003
00007     0.0100       00004
00008     0.0090       00014
00009     0.0090       00003
00010     0.0090       00003
00011     0.0095       00015
00012     0.0100       00004
00013     0.0100       00004
00014     0.0090       00008
00015     0.0090       00008
00016     0.0100       00007
00017     0.0100       00005
00018     0.0100       00002
00019     0.0090       00008
00020     0.0090       00003

In [3]:
tbl3 = tbl1
cols = ['00001', '00002', '00003', '00004', '00005', '00006', '00007', 
        '00008', '00009', '00010', '00011', '00012', '00013', '00014', 
        '00015', '00016', '00017', '00018', '00019', '00020']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001               0
00002               0
00003               0
00004               0
00005               0
00006              11
00007               0
00008               0
00009               0
00010               0
00011               0
00012               0
00013               0
00014               0
00015               1
00016               0
00017               0
00018               0
00019               0
00020               0